@mixin font($fname, $fstyle, $fweight, $furl){
	@font-face{
        font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		src: url($furl) format('woff2');
    }	
}

@include font('roboto-n', normal, 400, '../fonts/Roboto/roboto-regular-webfont.woff2');
@include font('roboto-n', normal, 700, '../fonts/Roboto/roboto-bold-webfont.woff2');

body{
    font-family: 'roboto-n', sans-serif;
}
